body{
 


 


 


 


 


 

 

    background-image: url('https://cdn.vectorstock.com/i/500p/06/81/blue-sky-gradient-watercolor-background-vector-29090681.jpg');
     
    
    background-repeat: no-repeat;
     
    
    background-attachment: fixed; 
     
    
    background-size: 100% 100%;      
     
    
    
     
    
    
     
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     
    
    
     
    
    font-weight: bold
     
    
    
     
    
    
     
    
    
     
    
    }